body{
    padding:0;
    margin:0;
}
img.img-fluid {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.image-container {
    height: 100vh;
    overflow: hidden;
}
.login-form .form-bg{
    background-color: #95c1ec;
    padding: 15px 60px;
}
.login-form .form-container{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
}
.login-form .form-header .title{
    font-size: 1.5rem;
    color:#5ea1e3;
    padding-top: 10px;
}
.login-form .form-body .field{
    display:flex; 
}
.login-form .form-body .field span{
    height:40px;
    width: 50px;
    line-height: 45px;
    text-align: center;
    background-color: aqua;
    color:black;
}
.login-form .form-body .field .form-control{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
a { text-decoration:  none; color:rgb(65, 63, 63);}
ul{ padding: 0; margin: 0; list-style: none;}
.login-form .forgot-password{float:right;}
.login-form .submit{
    background-color: aqua;
    width: 100%;
    margin-top: 20px;
}
.login-form .form-footer .title{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.login-form .form-footer .title::before, .login-form .form-footer .title::after {
    content:"";
    flex-grow: 1;
    background-color: rgb(4, 4, 4);
    height:1px;
    margin-top: 10px;
}
.login-form .form-footer .title::after{
    margin-left: 5px;
}
.login-form .form-footer .title::before{
    margin-left: 5px;
}
.social-network li{
    display:inline-block;
    background:#5ea1e3;
    padding:5px 10px;
    border-radius: 3px;
    width:87px;
}
.social-network li a{ color:black; display:block;}
li.twitter {
    background-color: #0fe680;
}
li.gmail {
    background-color: #e43220;
}















